.main-content-wrapper {
    padding-bottom: 120px; /* Высота контактного контейнера + дополнительный отступ */
    position: relative; /* Для корректной работы абсолютного позиционирования контактного контейнера */
  }
  
  .main-content {
  }
  
  .contactsContainer {
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    bottom: 0;
  }
  